<div class="contents">
  <div class="row">
    <div class="col-12 center">
      <img
        id="profilePicJoeyWillsId"
        name="profilePicJoeyWills"
        alt="Profile picture of Joey Wills"
        aria-label="Profile picture of Joey Wills"
        class="profile-pic"
        src="assets/photos/profile.jpg"
      />
    </div>
    <div class="col-12 center">
      <h4
        id="contactNameId"
        name="contactName"
        aria-label="contact name"
        class="name"
      >
        JOEY DOUGLAS WILLS
      </h4>
    </div>
    <div class="col-12 center">
      <strong id="contactTitleId" aria-label="contact title"
        >Application Developer</strong
      >
    </div>
    <div
      id="contactAddressLineOneId"
      aria-label="contact address line street"
      class="col-12 center"
    >
      14222 Hubbs Acres Rd
    </div>
    <div
      id="contactAddressLineOneId"
      aria-label="contact address line city, state, country"
      class="col-12 center"
    >
      Pride, LA, USA
    </div>
    <div class="col-12 center">
      <a
        id="contactEmailId"
        aria-label="contact email"
        class="phone-email"
        href="mailto:jdwills95@gmail.com"
        >jdwills95@gmail.com</a
      >
    </div>
    <div class="col-12 center">
      <a
        id="contactPhoneId"
        aria-label="contact mobile phone number"
        class="phone-email"
        href="tel:1-225-806-5574"
        >+1-225-806-5574 (Mobile)</a
      >
    </div>
    <div class="col-12 center">
      <button
        id="downloadResPDFId"
        aria-label="Download Resume Button"
        class="btn-res"
        (click)="downloadResume()"
      >
        Download Resume PDF
      </button>
    </div>
  </div>
</div>
