@import "src/styles/styles.scss";

.contents {
  padding-bottom: 1.5em;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5em;
}

.profile-pic {
  margin: 2rem 0 0 0;
  max-width: 20em;
  max-height: 20em;
  border-radius: 50%;

  z-index: 2;
}

.name {
  margin: 0;
  color: white;
  font-size: 6rem;

  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  z-index: 2;
}

.title {
  color: whitesmoke;
  z-index: 2;
}

.address {
  color: var(--text-color);
}

.phone-email {
  color: var(--text-color);
}

.btn-res {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: var(--primary-color);
  border: none;
  font-size: 1em;
  color: #ffffff;
  height: 3em;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
  width: 12rem;
}

.btn-res:after {
  content: "";
  background: lightblue;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.btn-res:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.btn-res:hover {
  background: rgb(0, 85, 125);
}

.semi-circle {
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary-color);
  z-index: 1;
  top: -48vh;
}

.semi-circle-small {
  height: 100vh;
  width: 200vw;
}

.semi-circle-large {
  height: 70vh;
  width: 148vw;
}

.pdf-icon {
  margin: 0 0 0 0.5rem;
  height: 1.5rem;
}
