<h5 class="sec-title">Assignment History</h5>
<hr class="hor" />
<div *ngFor="let assignment of assignments">
  <div class="card">
    <div class="container">
      <strong>{{ assignment.title }}</strong>
      <strong class="date-loc"> - {{ assignment.employer }} </strong>
      <br />
      <strong class="date-loc">
        {{ assignment.startDate }} - {{ assignment.endDate }}
      </strong>
      <p>
        {{ assignment.desc }}
      </p>
      <p>
        <strong class="sub-title">Environments: </strong>
        {{ assignment.environments }}
      </p>
    </div>
  </div>
</div>
