@import "src/styles/styles.scss";

.header {
  height: 3em;
  background-color: var(--primary-color);
  padding-left: 0.5em;
  width: 100%;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
}

.icon-wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.btn-wrapper {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.btn-nav {
  max-width: 1.75em;
  max-height: 1.75em;
  padding-right: 0.5em;
}

.theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 1.5em;
  margin-right: 0.75em;
  width: 1.5em;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
}

.theme-btn-img {
  height: 1.5rem;
  width: 1.5rem;
}
