<h5 class="sec-title">OTHER INFORMATION AND SKILLS</h5>
<hr class="hor" />
<div class="card">
  <div class="container row">
    <div class="col-12 col-sm-3 sub-title">
      <strong>Operating Systems</strong>
    </div>
    <div class="col-12 col-sm-3 sub-title">
      <strong>Software</strong>
    </div>
    <div class="col-12 col-sm-3 sub-title">
      <strong>Certifications</strong>
    </div>
    <div class="col-12 col-sm-3 sub-title">
      <strong>Business Knowledge</strong>
    </div>
  </div>
</div>
