.card {
  height: 97%;
}

.skill-sec {
  margin-bottom: 1em;
}

.adv {
  color: blue;
}

.int {
  color: darkorange;
}

.beg {
  color: yellowgreen;
}

.divider {
  max-width: 5em;
  margin-top: 0;
  margin-bottom: 0.25em;
}
