<h5 class="sec-title">Employer History</h5>
<hr class="hor" />
<div *ngFor="let employer of employers">
  <div class="card">
    <div class="container">
      <strong>{{ employer.jobTitle }}</strong> <br />
      <strong class="date-loc"
        >{{ employer.startDate }} - {{ employer.endDate }}</strong
      >
      <br />
      <strong class="date-loc">{{ employer.location }}</strong> <br />
      <p class="desc">
        <strong class="sub-title">Description: </strong>
        {{ employer.desc.desct }}
      </p>
      <p><strong class="sub-title">Tasks: </strong>{{ employer.desc.task }}</p>
    </div>
  </div>
</div>
