<h5 class="sec-title">EMPLOYER HISTORY</h5>
<hr class="hor" />
<div *ngFor="let employer of employers">
  <div class="card">
    <div class="container">
      <strong>{{ employer.jobTitle }}</strong> <br />
      <strong class="date-loc">{{ employer.location }}</strong>
      <br />
      <strong class="date-loc">
        {{ employer.startDate }} - {{ employer.endDate }}
      </strong>
      <br />

      <p class="desc">
        <strong class="sub-title">Description: </strong>
        {{ employer.desc.desct }}
      </p>
      <ul>
        <li *ngFor="let task of employer.desc.task">{{ task }}</li>
      </ul>
    </div>
  </div>
</div>
