@import "src/styles/styles.scss";

.navItem {
  text-align: center;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  border-top: 2px solid $secondary-color;
  border-bottom: 2px solid $secondary-color;
  background-color: whitesmoke;
  margin-top: 0.25em;
}

.navItem:hover {
  background-color: lightgray;
  cursor: pointer;
}
