<div class="page-container">
  <!-- header -->
  <app-header (navBarButtonClicked)="navBarButtonClickedRev()"></app-header>
  @if (isDesktopOrBigger && isNavbarOpen) {
    <app-nav-bar-desktop
      (navItemSendToApp)="closeNavBar()"
      >
    </app-nav-bar-desktop>
  }
  @if (!isDesktopOrBigger && isNavbarOpen) {
    <app-nav-bar-mobile
      (navItemSendToApp)="closeNavBar()"
      >
    </app-nav-bar-mobile>
  }
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
  <!-- footer -->
  <app-footer></app-footer>
</div>
